/* ------------   Importación     ------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* ------------ Estilos generales ------------ */
* {
  font-family: Roboto, sans-serif;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  min-width: 400px;
}
/* ------------  Estilos Banner   ------------ */
.discount-banner {
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #d1891c;
}
.discount-banner p {
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  margin-left: 1%;
}

/* ------------  Estilos header   ------------ */
header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #00669f;
  box-shadow: 0 1rem 0.7rem rgba(0, 0, 0, 0.25);
  text-align: left;
}
header h1 {
  padding: 2rem;
  font-weight: 400;
  font-size: 4rem;
  color: #ffffff;
}

/* ------------  Estilos nav menu ------------ */

/* ------------    Estilos main   ------------ */
.card-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.card {
  width: 35rem;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 2rem;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-cover {
  position: relative;
  top: -2rem;
  margin-bottom: 2rem;

}

.card-cover i {
  position: absolute;
  top: 3rem;
  left: 2rem;
  color: red;
  z-index: 1;
}

.card-cover img {
  height: 100%;
  width: 100%;
  border-radius: 3rem 3em 0 0;
}

.profile-picture {
  position: absolute;
  top: 75%;
  left: 33%;
  z-index: 1;
}

.profile-picture img {
  max-width: 12rem;
  max-height: 12rem;
  border-radius: 50%;
}

.character-name {
  font-weight: 400;
  font-size: 3rem;
  color: #000000;
}

.character-description {
  margin: 0 3rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #333333;
}

.view-more-button {
  background-color: #00669f;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f3f3f3;
  padding: 1.5rem 3.6rem;
  border: none;
  margin-bottom: 4rem;
}

.toggle-visible {
  display: none;
}
/* ------------   Estilos footer  ------------ */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer p {
  text-align: center;
  flex-basis: 80%;
  padding: 1.6rem 0 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff9f9;
}

footer img {
  padding-right: 1rem;
  height: 2rem;
}

/* ------------   Media Queries ------------ */
/* Tablet */
@media screen and (min-width: 460px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .toggle-visible {
    display: flex;
  }
}


