/* ------------   Importación     ------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* ------------ Estilos generales ------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
/* ------------  Estilos Banner   ------------ */
.discount-banner {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #1cd1b0;
}
.discount-banner p {
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  margin-left: 0.8rem;
}

/* ------------  Estilos header   ------------ */
header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #00669f;
  box-shadow: 0 1rem 0.7rem rgba(0, 0, 0, 0.25);
  text-align: left;
}
.logo-home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.logo-home img {
  width: 8rem;
  margin: 2rem;
}
header h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 3rem;
  color: #ffffff;
}

/* ------------  Estilos nav menu ------------ */
nav {
  height: 3rem;
  background-color: #001d2d;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 1rem 2rem;
  font-size: 1.6rem;
}
nav ul a {
  text-decoration: none;
  margin-left: 2rem;
  color: #ffffff;
}
/* ------------    Estilos main   ------------ */
main {
  display: flex;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00669f;
  border-radius: 3rem;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  margin: 3rem 0;
}
.form-container h2 {
  display: inline-block;
  color: #fbfffd;
  font-weight: 700;
  font-size: 3.3rem;
  margin-top: 2rem;
}
.form-container p {
  font-weight: 300;
  font-size: 2rem;
  margin: 2rem;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label {
  margin: 0.2rem;
  font-size: 1.5rem;
}

.superior-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  margin: 2rem;
}
.title-right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

textarea {
  resize: none;
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 15.3407px;
  margin-top: 1rem;
  padding: 1rem;
}

.beauty-box {
  width: 30rem;
  height: 5rem;
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 15.3407px;
  margin-top: 1rem;
  padding: 0 1rem;
}

.form-container form button {
  width: 30rem;
  height: 6rem;
  background-color: #1cd1b0;
  border-radius: 2.3011rem;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}

.form-container form button:focus {
  background-color: #001d2d;
  color: #ffffff;
}

/* ------------   Estilos footer  ------------ */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer p {
  text-align: center;
  flex-basis: 80%;
  padding: 1.6rem 0 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff9f9;
}

footer img {
  padding-right: 1rem;
  height: 1.5rem;
}

/* ------------   Media Queries ------------ */
/* Tablet */
@media screen and (min-width: 460px) {
  .form-container {
    padding: 0 6rem;
  }
  .info-container {
    flex-direction: row;
  }
  .superior-box {
    flex-direction: row;
    align-items: center;
  }
}
